<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>{% block title %}JBTC{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'transport/styles.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About Us</a></li>
            <li><a href="{% url 'contact' %}">Contact Us</a></li>
            <li><a href="{% url 'load_form' %}">Book a Load</a></li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
    <footer>
        <p><b>&copy; 2024 Jay Bajrang Transport Company</b></p>
    </footer>
</body>
</html>
